---
layout: default
---

<div class="header-container jumbotron">
    <div class="container">
        <h1>June5 Notes</h1>
        
        <p>For mostly Data</p>
        <p><a class="btn btn-primary btn-lg" href="{{ "/docs/home/" | prepend: site.baseurl }}" role="button">Learn more</a></p>
    </div>
</div>


<div class="container">

    <div class="row">
        <div class="col-md-6">
            <h2 class="header-light regular-pad">I am ...</h2>
            <blockquote>
              <p>Playing hide-and-seek with Data over 10 years in video game industry</p>
            </blockquote>
        </div>
        <!--<div class="col-md-6 text-center">-->
        <!--    <img src="img/jekyll-dark.png" alt="" class="img-responsive">-->
        <!--</div>-->
    </div>

    <hr>

    <!--<div class="row">-->
    <!--    <div class="col-sm-4">-->
    <!--        <h1 class="text-center"><i class="fa fa-pencil" aria-hidden="true"></i></h1>-->
    <!--        <h3 class="text-center">Easy to install and publish</h3>-->
    <!--        <p>Get started by cloning source into GitHub account of your project. Thanks to <a href="https://pages.github.com">GitHub Pages</a>,-->
    <!--          it will be automatically compiled and published under your project's subdomain on `github.io`.-->
    <!--        </p>-->
    <!--    </div>-->
    <!--    <div class="col-sm-4">-->
    <!--        <h1 class="text-center"><i class="fa fa-cogs" aria-hidden="true"></i></h1>-->
    <!--        <h3 class="text-center">Modular Styling and Templating</h3>-->
    <!--        <p>This template uses <a href="https://github.com/twbs/bootstrap-sass">bootstrap-sass</a> along with <a href="https://bootswatch.com/">Bootwatch themes</a>.-->
    <!--        You can change the theme or write your custom by overwriting bootstrap sass variables for a different color set, font options, etc.</p>-->
    <!--    </div>-->
    <!--    <div class="col-sm-4">-->
    <!--        <h1 class="text-center"><i class="fa fa-code-fork" aria-hidden="true"></i></h1>-->
    <!--        <h3 class="text-center">Git-based source control</h3>-->
    <!--        <p>Leverage from Git version control system by-->
    <!--          maintaining your documentation along with the source code; publish the page when you merge to the master branch.</p>-->
    <!--    </div>-->
    <!--</div>-->


</div>